<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="project"/>
<!--    <import resource=".\MailService\src\main\resources\module\logContext.xml"/>-->

    <bean id = "DepositFactory" class = "project.DepositService" autowire="byType"/>

    <bean id = "DailyPercent" class="project.PercentDaily"/>
    <bean id = "MonthlyPercent" class = "project.PercentMonthly"/>
    <bean id="AtTheEndPercent" class="project.PercentAtTheEnd"/>

    <bean id = "MailService" class="project.SendMail">
        <constructor-arg name="propHost" value="smtp.gmail.com"/>
        <constructor-arg name="propSocketFactory" value="465"/>
        <constructor-arg name="propSocketFactoryClass" value="javax.net.ssl.SSLSocketFactory"/>
        <constructor-arg name="propAuth" value="true"/>
        <constructor-arg name="propPort" value="465"/>
    </bean>

    <bean id = "MailServiceMod" class="module1.SendMailService">
        <constructor-arg name="propHost" value="smtp.gmail.com"/>
        <constructor-arg name="propSocketFactory" value="465"/>
        <constructor-arg name="propSocketFactoryClass" value="javax.net.ssl.SSLSocketFactory"/>
        <constructor-arg name="propAuth" value="true"/>
        <constructor-arg name="propPort" value="465"/>
    </bean>

<!--    <bean id = "LogService" class="module.LogToFile" >-->
<!--        <property name="logFolder" value=".\\log"/>-->
<!--        <property name="logFileName" value="HomeSavingsLog.txt"/>-->
<!--    </bean>-->

    <bean id = "NotificationService" class="project.NotificationService" autowire="byType"/>

    <bean id = "CurrencyRateCBService" class="project.CBRCurrencies"/>

    <bean id = "AllUserNotificationService" class="project.AllUsersNotificationImpl" autowire="byType">
        <constructor-arg name = "adminLogin" value="adminSender"/>
    </bean>

    <bean id = "AllUserNotificationServiceMod" class="project.AllUsersNotificationImplMod" autowire="byType">
        <constructor-arg name = "adminLogin" value="adminSender"/>
    </bean>

    <bean id = "UserService" class="project.UserServiceImpl" autowire="byType">
        <constructor-arg name = "userDAO" ref="UserDAO"/>
    </bean>

    <bean id = "UserDAO" class="project.UserDAOImpl"/>
</beans>