<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/home_savings?useUnicode=true</property>
        <property name="connection.username">root</property>
        <property name="connection.password">Talia0610</property>
        <property name="show_sql">true</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="connection.pool_size">5</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.connection.CharSet">utf8</property>
        <property name="hibernate.connection.characterEncoding">utf8</property>
        <mapping class="project.User"/>
        <mapping class="project.AdminSender"/>
        <mapping class="project.Deposit"/>


    </session-factory>
</hibernate-configuration>